$dark: #131523;
$white: #ffffff;

$main-blue: #1e5eff;

$primary-color: #5a607f;
$light-grey: #7e84a3;
$main-grey: #a1a7c4;

$primary-background: #f5f6fa;
$light: #d7dbec;
$light-border: #e6e9f4;
$light-border-two: #d9e1ec;
