<div class="header">
  <div class="logo">
    <img src="/assets/svg/logo.svg" alt="Logo" />
  </div>
  <div class="search">
    <img src="/assets/svg/search.svg" alt="Search" class="searchIcon" />
    <input type="search" placeholder="Search..." />
  </div>
  <div class="info">
    <div class="notifications">
      <img src="/assets/svg/chat.svg" alt="chat" />
      <div matBadge="5" matBadgeSize="small" class="badge">
        <img src="/assets/svg/bell.svg" alt="bell" />
      </div>
    </div>
    <div class="user">
      <img src="/assets/svg/avatar.svg" alt="avatar" />
      <span>Maria Rykova</span>
      <fa-icon [icon]="arrowDown"></fa-icon>
    </div>
  </div>
</div>
<!--

<img src="/assets/svg/logo.svg" alt="Logo" />
<div>Search</div>
<fa-icon [icon]="notificationIcon"></fa-icon>
<fa-icon [icon]="searchIcon"></fa-icon>
<img src="/assets/svg/chat.svg" alt="chat" />-->
